/* Navigation */
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.navbar {
  background-color: #202020;
  color: #f8ffff;
}

.nav-link {
  font-family: "Roboto", sans-serif;
  font-size: 1.25em;
  color: #f8ffff;
}

header {
  margin-bottom: 15px;
}

/* Body Content */

body {
  background-color: #000000cc;
}

.list-group-item {
  background-color: #202020;
  color: #f8ffff;
}

h3 {
  color: #f8ffff;
}
